.cta-section {
  background-color: #fff; /* Light background */
  padding: 1rem 1rem; /* Spacing around the section */
  color: #333; 
  border-style: none;
  border-radius: 20px;
}

.cta-left h2 {
  font-size: 1.75rem;
}

.cta-left p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Buttons */
.cta-btn-phone,
.cta-btn-order {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 50px;
  font-size: 1.1rem;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

/* Phone button */
.cta-btn-phone {
  background-color: #e6bb00;
  color: #0D1B2A;
  border: 2px solid #e6bb00;
}

.cta-btn-phone:hover {
  background-color: #e6bb00; /* darker green hover */
  color: #ffffff;
}

/* Order button */
.cta-btn-order {
  background-color:#e6bb00; /* Amber color */
  color: #0D1B2A;
  border: 2px solid #e6bb00;
}

.cta-btn-order:hover {
  background-color: #e6bb00; /* darker amber */
  color:#ffffff;
}

/* Responsive adjustments */
@media (min-width: 576px) and (max-width: 991px) {
  .cta-section {
    flex-direction: column;
    text-align: center;
  }

  .cta-left {
    text-align: center;
  }

  .cta-right {
    width: 100%;
  }
    .cta-left h2 {
    font-size: 1.5rem;
  }

  .cta-btn-phone{
    font-size: 9px;
  }
  .cta-btn-order {
    font-size: 12px;
  }
}

